dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
flask
flask-caching
openai==0.28.0
pandas
plotly
requests
numpy
python-dateutil
urllib3
werkzeug
retrying
python-dotenv